aside {
  background-color: #647087;
}

aside * {
  color: white;
}

#profile-pic img{
  border-radius: 50%;
}


/***{
  color:green;
}

p {
  color: blue;
}

.bonito{
  background-color:  lightblue;
}

ul{
  list-style-type: none;
}

article ul{
  list-style-type: square;
}

#profile-pic img{
  border-radius: 50%;
}**/
